@inherits LayoutComponentBase

<div class="d-flex flex-column justify-content-center align-items-center">
    <main class="container-fluid col-12 p-0 m-0 clube-gradient">
        <NavMenu />
        <article class="content">
            @Body
        </article>
    </main>
</div>
