<div class="row justify-content-between align-content-center bg-spotify-black w-100 m-0 p-2 shadow" style="height: 90px;">
    <div class="row col-10 align-content-center justify-content-between align-items-center h-100">
        <div class="col-6 row p-3">
            <a href="https://open.spotify.com/" target="_blank">
                <div class="col-12">
                    <img class="img-fluid" style="min-width: 100px;image-rendering: optimizeQuality!important;" src="icons/spotify-logo-green-nobg.png" />
                </div>
            </a>
        </div>
        <div class="col-6">
            @if (PlayerCurrentTrack != null)
            {
                <a target="_blank" class="text-decoration-none" href="@PlayerCurrentTrack.Uri">
                    <span style="font-size: 14px;" class="text-white fw-bold">@PlayerCurrentTrack.Name</span>
                </a>
            }
        </div>
    </div>
    <div class="row col-2 justify-content-start align-items-center">
        <div class="row col-12 justify-content-center">
            <SpotifyPlayPauseButton SpotifyWrapperComponent="SpotifyWrapperComponent" Loading="Loading" State="@(IsPlaying ? "playing" : "")"></SpotifyPlayPauseButton>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public required bool Loading { get; set; }

    [Parameter]
    public required string State { get; set; }

    [Parameter]
    public required bool IsPlaying { get; set; }

    [Parameter]
    public required SpotifyTrack PlayerCurrentTrack { get; set; }

    [Parameter]
    public required SpotifyWrapper? SpotifyWrapperComponent { get; set; }
}