﻿<a href="challenge-spotify" class="btn btn-spotify bg-spotify-green shadow">
    <div class="col-3 p-1">
        <img class="img-fluid" style="image-rendering: optimizeQuality!important;" src="icons/spotify-icon-black-nobg.png" />
    </div>
    <div class="col-9">
        <span class="m-0 text-spotify-black fw-bolder text-center">
            Entrar com Spotify
        </span>
    </div>
</a>