﻿.bg-spotify {
	background-color: var(--spotify-green);
}

.btn-spotify img {
	max-width: 40px;
}

.btn-spotify {
	width: 260px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--spotify-green);
	flex-wrap: wrap;
	font-size: 1rem;
	font-weight: bolder;
	font-family: sans-serif !important;
}

	.btn-spotify:active {
		background-color: var(--spotify-green) !important;
	}

	.btn-spotify:focus {
		background-color: var(--spotify-green) !important;
	}
