@inherits LayoutComponentBase

<div class="page row container-fluid w-100">
    <header class="row col-2">
        <NavMenu />
    </header>
    <main class="content px-4 col">
        <div class="w-25">
            <SpotifyWrapper></SpotifyWrapper>
        </div>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
